/** profile title **/
.profile-title{padding-bottom:15px;border-bottom:1px solid #eee;}

.box dl>dd,dl>dt{line-height: 50px;}

/* 用户头像
.avatar-16{width:16px;height:16px;border-radius:1px;}
.avatar-20{width:20px;height:20px;border-radius:2px;}
.avatar-24{width:20px;height:20px;border-radius:2px;}
.avatar-27{width:27px;height:27px;border-radius:2px;}
.avatar-32{width:32px;height:32px;border-radius:2px;}
.avatar-40{width:40px;height:40px;border-radius:4px;}
.avatar-50{width:40px;height:40px;border-radius:4px;}
.avatar-64{width:64px;height:64px;border-radius:3px;}
.avatar-82{width:82px;height:82px;border-radius:4px;opacity: 0.9;}
.avatar-128{width:128px;height:128px;border-radius:50%;}
.avatar-256{width:256px;height:256px}
.avatar-link{display:block;}
*/

/*主页头部*/
.space-header{background-color:#f6f6f6;padding:40px 0 30px}
.space-header-name{margin:0}
.space-header-desc{padding:10px;background: #eee;line-height:18px;}
.space-header-desc p:last-child{margin-bottom:0}
.space-header-item{margin-right:30px;font-size:14px;line-height:20px;vertical-align:middle}
.space-header-social .space-header-item,.space-authentication-skill{color:#666;}

/*消息菜单*/
.widget-messages {margin-bottom: 15px}
.widget-message-item {display: block;color: #666;margin-left: -10px;padding: 6px 10px;width: 100%;text-decoration: none}
.widget-message-item .badge {margin-left: 5px;padding: 2px 6px;font-weight: 400}
.widget-message-item.active, .widget-messages-item:hover {text-decoration: none;color: #008E59;background-color: #F6F6F6}
.widget-message-item.active .badge, .widget-message-item:hover .badge {background-color: #008E59}