/** profile title **/
.profile-title{padding-bottom:15px;border-bottom:1px solid #eee;}

/*主页头部*/
.space-header{background-color:#f6f6f6;padding:40px 0 30px}
.space-header-name{margin:0}
.space-header-desc{padding:10px;background: #eee;line-height:18px;}
.space-header-desc p:last-child{margin-bottom:0}
.space-header-item{margin-right:30px;font-size:14px;line-height:20px;vertical-align:middle}
.space-header-social .space-header-item,.space-authentication-skill{color:#666;}