/* 用户头像 */
.avatar-16{width:16px;height:16px;border-radius:1px;}
.avatar-20{width:20px;height:20px;border-radius:2px;}
.avatar-24{width:20px;height:20px;border-radius:2px;}
.avatar-27{width:27px;height:27px;border-radius:2px;}
.avatar-32{width:32px;height:32px;border-radius:2px;}
.avatar-40{width:40px;height:40px;border-radius:4px;}
.avatar-50{width:40px;height:40px;border-radius:4px;}
.avatar-64{width:64px;height:64px;border-radius:3px;}
.avatar-82{width:82px;height:82px;border-radius:4px;opacity: 0.9;}
.avatar-128{width:128px;height:128px;border-radius:50%;}
.avatar-256{width:256px;height:256px}

.avatar-link{display:block;}