/** profile title **/
.profile-title{padding-bottom:15px;border-bottom:1px solid #eee;}

.box dl>dd,dl>dt{line-height: 50px;}

/* 用户头像
.avatar-16{width:16px;height:16px;border-radius:1px;}
.avatar-20{width:20px;height:20px;border-radius:2px;}
.avatar-24{width:20px;height:20px;border-radius:2px;}
.avatar-27{width:27px;height:27px;border-radius:2px;}
.avatar-32{width:32px;height:32px;border-radius:2px;}
.avatar-40{width:40px;height:40px;border-radius:4px;}
.avatar-50{width:40px;height:40px;border-radius:4px;}
.avatar-64{width:64px;height:64px;border-radius:3px;}
.avatar-82{width:82px;height:82px;border-radius:4px;opacity: 0.9;}
.avatar-128{width:128px;height:128px;border-radius:50%;}
.avatar-256{width:256px;height:256px}
.avatar-link{display:block;}
*/

/*主页头部*/
.space-header{background-color:#f6f6f6;padding:40px 0 30px}
.space-header-name{margin:0}
.space-header-desc{padding:10px;background: #eee;line-height:18px;}
.space-header-desc p:last-child{margin-bottom:0}
.space-header-item{margin-right:30px;font-size:14px;line-height:20px;vertical-align:middle}
.space-header-social .space-header-item,.space-authentication-skill{color:#666;}

/*消息菜单*/
.widget-messages {margin-bottom: 15px}
.widget-message-item {display: block;color: #666;margin-left: -10px;padding: 6px 10px;width: 100%;text-decoration: none}
.widget-message-item .badge {margin-left: 5px;padding: 2px 6px;font-weight: 400}
.widget-message-item.active, .widget-messages-item:hover {text-decoration: none;color: #008E59;background-color: #F6F6F6}
.widget-message-item.active .badge, .widget-message-item:hover .badge {background-color: #008E59}

/*动态样式*/
.stream-doing section{padding:10px 0;border-top:1px solid #EEE}
.stream-doing-item-info{color:#999;margin-bottom:5px}
.stream-doing-item-title h4{display:inline;margin:0 5px 0 0;font-size:15px}
.stream-doing-item-title h4 a{color:#333}
.stream-doing-item-title h4 a:hover{color:#017e66}
.stream-doing-item-quote{border-left:5px solid #EEE;padding-left:10px;margin-top:5px;margin-bottom:0;color:#888;word-break:break-all}

/*积分记录*/
.record-list li{overflow:hidden;margin-top:10px;border-bottom:1px solid #EEE}
.record-list li .pull-left{width:37px;text-align:right;margin-right:15px}
.record-list li p{margin-left:52px}
.coins .badge{background-color:#FF8100;}
.credits .badge{background-color:#449d44;}

/* 关注列表 */
.stream-following .avatar-32{float:left;margin-right:10px}
.stream-following-list >li{padding:12px 0;border-bottom:1px solid #eee}
.stream-following-followed{color:#999;line-height:20px}
.stream-following-desc {font-size: 13px;color: #666;line-height: 21px;}

/* profile-mine样式 */
.profile-mine--tag-increase{display:inline-block;width:40px;text-align:right;margin-right:10px}
.profile-mine__heading{margin:0;padding-bottom:20px;border-bottom:1px solid #eee}
.profile-mine__heading small{margin-left:15px}
.profile-mine__heading--filter span{font-size:14px;color:#999999;line-height:20px;font-weight:normal}
.profile-mine__heading--filter .btn-group{margin-left:10px}
.profile-mine__content{list-style:none;padding:0;border-top:none;margin-top:0}
.profile-mine__content--type{display:inline-block;font-size:13px;color:#999999;line-height:26px;margin-right:10px}
.profile-mine__content li{padding:10px 0;border-bottom:1px solid #eee;margin-top:0}
.profile-mine__content li .badge{background-color:#FFF;border:1px solid;text-align:center;margin-right:10px;width:30px;height:18px;font-weight:normal;padding:0;line-height:18px}
.profile-mine__content--text{color:#666}
.profile-mine__content--date{font-size:14px;color:#999999;line-height:19px}
.profile-mine__content--title{font-size:14px;color:#333333;line-height:26px}
.profile-mine__content--title-warp{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.profile-mine__content--title-warp a:nth-child(2){font-size:13px;color:#999999;margin-left:18px}
.profile-mine__content .label{display:inline-block;width:55px;line-height:26px;font-size:13px;padding:0;font-weight:500}
.profile-mine__content .label-warning{background-color:#FCF8E3;color:#8A6D3B}
.profile-mine__content .label-danger{background-color:rgba(235,138,136,0.32);color:#CA4C48}
.profile-mine__content .label-success{background-color:#DFF0D8;color:#43894E}
.profile-mine__content--VotesWord span{background:#FCF8E3;text-align:center;line-height:2;font-size:13px;display:inline-block;width:55px;border-radius:3px;color:#8A6D3B}